/* admin.css */

.adminContainer {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    margin: 20px auto;
    text-align: center;
    background-color: #f7f7f7;
  }
  
  .adminContent {
    margin-top: 20px;
  }
  
  .adminAction {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #385170;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkblue;
  }
  
  h2 {
    color: #333;
  }
  
  h3 {
    color: #555;
  }
  
  a {
    text-decoration: none;
    color: blue;
  }
  
  a:hover {
    text-decoration: underline;
  }