<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flame Animation</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="mainContainer">
        <canvas id="flameCanvas"></canvas>
        <div class="content">
            <div class="titleContainer">
                Title
            </div>
            <div class="buttonContainer">
                <button class="inputButton">
                    Click Me
                </button>
            </div>
        </div>
    </div>
<script src="home.js"></script>
</body>
</html>