/* Home.css */

.home-container {
  text-align: center;
  padding: 20px;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.intro-text {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.buttons {
  margin-top: 20px;
}

.portal-login-button,
.register-portal-button,
.admin-button,
.profile-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  text-decoration: none;
  cursor: pointer;
}

.portal-login-button:hover,
.register-portal-button:hover,
.admin-button:hover,
.profile-button:hover {
  background-color: #0056b3;
}
