/* Define variables */
$primaryColor: #1262e2;
$transparent: transparent;

/* Global styles */


.root > .login-container {
  background-color: $primaryColor;
  color: $transparent;
  padding: 10px;
  margin: 5px;
  border: 1px solid $primaryColor;
}

.mainContainer {
  background-color: #104fb4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .titleContainer {
    font-size: 24px;
    color: #506f86;
    margin-bottom: 20px;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .inputField {
      width: 100%;
      max-width: 300px;
      padding: 10px;
      margin: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }

  .buttonContainer {
    margin-top: 20px;

    .inputButton {
      background-color: #506f86;
      color: #f2f7ff;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }
  }

  .emailContainer {
    font-size: 18px;
    color: #018790;
    margin-top: 20px;
  }
}
