/* Profile.scss */

.profileContainer {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #f2f7ff;
    border-radius: 5px;
    background-color: #f2f7ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;

    h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    p {
        font-size: 18px;
        margin: 5px 0;
    }

    a {
        text-decoration: none;
        color: #007bff;

        &:hover {
            text-decoration: underline;
        }
    }

    /* Header Section */
    .header {
        background-image: url(https://online.sbu.edu/sites/default/files/field/image/cybersecurity_tools_1.jpg);
        background-size: cover;
        background-position: center;
        height: 200px;
        border-radius: 5px 5px 0 0;
    }

    .profilePicture {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 3px solid #fff;
        margin-top: -50px;
    }

    /* Footer Section */
    .footer {
        background-color: #007bff;
        color: #fff;
        padding: 10px 0;
        border-radius: 0 0 5px 5px;
    }
}