/* Register.scss */
$primaryColor: #485e81;
$transparent: transparent;

.register-container {
    background-color: grey;
    padding: 20px;
    border: 10px solid yellowgreen;
    border-radius: 5px;
    width: 400px;
    margin: 20px auto;
    text-align: center;

    .error-text {
        color: red;
        margin-bottom: 10px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        padding: 10px;
        width: 80%;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-left: 5px;
    }

    .label {
        font-weight: bold;
    }

    .input-field {
        background-color: $primaryColor;
        color: yellowgreen;
        padding: 10px;
        margin: 10px;
        width: 80%;
        border-radius: 5px;
    }

    input[type="submit"] {
        padding: 10px 20px;
        background-color: $primaryColor;
        color: white;
        border-radius: 5px;
        border: 1px solid $primaryColor;
        cursor: pointer;
        margin-bottom: 10px;
        margin-top: 10px;
        width: 80%;
        margin-left: 10px;
        margin-right: 10px;

        &:hover {
            background-color: $transparent;
            color: $primaryColor;
        }
    }
}